<app-nav-menu></app-nav-menu>
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-nav-list class="d-flex flex-column h-100">
            <a mat-list-item [routerLink]="[RouteKey.ASSETS]" queryParamsHandling="merge" routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="Assets" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">computer</mat-icon>
                <span [class.d-none]="collapsed">Assets</span>
            </a>
            <a mat-list-item [routerLink]="[RouteKey.VULNERABILITIES]" queryParamsHandling="merge"
                routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="Vulnerabilities" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">warning</mat-icon>
                <span [class.d-none]="collapsed">Vulnerabilities</span>
            </a>
            <mat-divider class="mt-auto"></mat-divider>

            <mat-list-item class="" (click)="collapsed = !collapsed">
                <mat-icon matListItemIcon *ngIf="!collapsed">chevron_left</mat-icon>
                <mat-icon matListItemIcon *ngIf="collapsed">chevron_right</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fixedInViewport="true">
        <!-- Add Content Here -->
        <div class="h-100">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>