<app-nav-menu></app-nav-menu>
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-nav-list class="d-flex flex-column h-100">

            <!-- Assets management -->
            <a mat-list-item [routerLink]="[RouteKey.ASSETS_MANAGEMENT]" queryParamsHandling="merge" routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="Assets Management" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">computer</mat-icon>
                <span [class.d-none]="collapsed">Assets Management</span>
            </a>

            <!-- System Groups Management -->
            <a mat-list-item [routerLink]="[RouteKey.SYSTEM_GROUPS_MANAGEMENT]" queryParamsHandling="merge"
                routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="System Groups Management" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">lan</mat-icon>
                <span [class.d-none]="collapsed">System Groups Management</span>
            </a>

            <!-- Company management -->
            <a mat-list-item [routerLink]="[RouteKey.COMPANY_MANAGEMENT]" queryParamsHandling="merge"
                routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="Company management" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">home</mat-icon>
                <span [class.d-none]="collapsed">Company management</span>
            </a>

            <mat-divider class="mt-auto"></mat-divider>
            <!-- Imports -->
            <a mat-list-item [routerLink]="[RouteKey.IMPORTS]" queryParamsHandling="merge"
                routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="Imports" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">upload</mat-icon>
                <span [class.d-none]="collapsed">Imports</span>
            </a>

            <!-- Vulnerabilities -->
            <a mat-list-item [routerLink]="[RouteKey.VULNERABILITIES]" queryParamsHandling="merge"
                routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="Vulnerabilities" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">warning</mat-icon>
                <span [class.d-none]="collapsed">Vulnerabilities</span>
            </a>

            <!-- System Groups -->
            <a mat-list-item [routerLink]="[RouteKey.SYSTEM_GROUPS]" queryParamsHandling="merge"
                routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="System Groups" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">lan</mat-icon>
                <span [class.d-none]="collapsed">System Groups</span>
            </a>

            <mat-list-item class="" (click)="collapsed = !collapsed">
                <mat-icon matListItemIcon *ngIf="!collapsed">chevron_left</mat-icon>
                <mat-icon matListItemIcon *ngIf="collapsed">chevron_right</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fixedInViewport="true">
        <!-- Add Content Here -->
        <div class="h-100">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>