<app-nav-menu></app-nav-menu>

<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-nav-list class="d-flex flex-column h-100">
            <a mat-list-item [routerLink]="['scenario/grid']" queryParamsHandling="merge" routerLinkActive="active">
                <mat-icon matListItemIcon matTooltip="Szenarios" [matTooltipPosition]="'below'"
                    matTooltipHideDelay="100">view_in_ar</mat-icon>
                <span [class.d-none]="collapsed">Tenants</span>
            </a>
            <mat-divider class="mb-auto"></mat-divider>
            <mat-divider class="mt-auto"></mat-divider>
            <mat-list-item class=" d-flex align-items-center" style="bottom: 0; left: 0;"
                (click)="collapsed = !collapsed">
                <mat-icon *ngIf="!collapsed">chevron_left</mat-icon>
                <mat-icon *ngIf="collapsed">chevron_right</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fixedInViewport="true">
        <!-- Add Content Here -->
        <div class="h-100">
            test
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>