<div class="mat-elevation-z8 page-container">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="all_cve">
            <mat-header-cell *matHeaderCellDef mat-sort-header> All CVE - C / H / M / L </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span *ngIf="row.all_cve$ | async as all_cve">
                    <app-base-severity-indicator [baseSeverity]="all_cve"></app-base-severity-indicator>
                </span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="open_cve">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Open C / H / M / L </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span *ngIf="row.open_cve$ | async as open_cve">
                    <app-base-severity-indicator [baseSeverity]="open_cve"></app-base-severity-indicator>
                </span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="closed_cve">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Closed - C / H / M / L </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span *ngIf="row.closed_cve$ | async as closed_cve">
                    <app-base-severity-indicator [baseSeverity]="closed_cve"></app-base-severity-indicator>
                </span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="assets">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Assets </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.assets.length}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef i18n></mat-header-cell>
            <mat-cell *matCellDef="let row">

                <button mat-icon-button [matMenuTriggerFor]="actions">
                    <mat-icon color="accent">more_vert</mat-icon>
                </button>
                <mat-menu #actions="matMenu">
                    <button mat-menu-item [routerLink]="['../edit', row.id]">
                        <mat-icon>settings</mat-icon>
                        <span>Edit</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>


        <mat-header-row sticky *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of assets"></mat-paginator>
</div>