<div class="mat-elevation-z8 page-container">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="fqdn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> FQDN </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fqdn}} </mat-cell>
        </ng-container>

        <!-- Base severity count -->
        <!-- <ng-container matColumnDef="open_cve">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Offene CVE - C / H / M / L </mat-header-cell>
            <mat-cell *matCellDef="let row"><span *ngIf="row.open_cve">{{row.open_cve?.critical}} / {{row.open_cve?.high}} / {{row.open_cve?.medium}} / {{row.open_cve?.low}} </span> </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="open_cve">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Offene CVE - C / H / M / L </mat-header-cell>
            <mat-cell *matCellDef="let row"><span *ngIf="row.open_cve$ | async as open_cve ; else loading">
                    {{open_cve?.critical}} / {{open_cve?.high}} / {{open_cve?.medium}} / {{open_cve?.low}} </span>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="unique_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Unique Id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.unique_id}} </mat-cell>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="operating_system">
            <mat-header-cell *matHeaderCellDef mat-sort-header> OS </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.operating_system}} </mat-cell>
        </ng-container>

        <mat-header-row sticky *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of assets"></mat-paginator>
</div>

<ng-template #loading>
    <div class="spinner-border spinner-border-sm text-primary mb-2 mr-auto ml-auto" role="status">
    </div>
</ng-template>