<div class="mat-elevation-z8 page-container">
    <app-menu-container>
        <ng-container class="toolbar-items">
            <button mat-icon-button [routerLink]="['/assessment-management']">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </ng-container>
    </app-menu-container>
    <mat-card *ngIf="assessment" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                <h1 class="d-flex">
                    <span>Assessment #{{assessment.id}}</span>
                </h1>
            </mat-card-title>
            <mat-card-subtitle>
                <p>
                    <strong>Note:</strong> {{assessment.note}}
                </p>
                <p>
                    <strong>Created:</strong> {{assessment.created_at | date:'medium'}}
                </p>
                <p>
                    <strong>Updated:</strong> {{assessment.updated_at | date:'medium'}}
                </p>
            </mat-card-subtitle>
            <span class="ms-auto">
                <button mat-menu-item (click)="openDeleteDialog(assessment.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </span>
        </mat-card-header>

        <mat-card-content>
            <mat-divider class="my-3"></mat-divider>
            <ng-container *ngIf="assessment.vulnerability$ | async as x ; else loading">
                <p>
                    <strong>Vulnerability:</strong>
                    <span>
                        {{x.cve_id}}
                        <span [appBaseSeverityHighlight]="x | cve:'baseSeverity'">{{x | cve:'baseSeverity'}}</span>
                    </span>
                </p>
                <p>
                    <strong>Details:</strong>
                    <span>
                        {{x | cve:'description'}}

                    </span>
                </p>
            </ng-container>
            <ng-container *ngIf="assessment.company$ | async as x ; else loading">
                <p *ngIf="x !== -1">
                    <strong>Company:</strong>
                    <span>
                        {{x?.name }}
                    </span>
                </p>
            </ng-container>
            <ng-container *ngIf="assessment.system_group$ | async as x ; else loading">
                <p *ngIf="x !== -1">
                    <strong>System Group:</strong>
                    <span>
                        {{x?.name }}
                    </span>
                </p>
            </ng-container>
            <ng-container *ngIf="assessment.asset$ | async as x ; else loading">
                <p *ngIf="x !== -1">
                    <strong>Asset:</strong>
                    <span>
                        {{x?.fqdn }}
                    </span>
                </p>
            </ng-container>
            <mat-divider class="my-3"></mat-divider>
            <form class="w-50 d-flex flex-column" [formGroup]="formGroup">
                <h2>
                    Assessment details:
                </h2>
                <div class="d-flex flex-column">
                    <mat-form-field class="w-100">
                        <mat-label>Treatment:</mat-label>
                        <mat-select formControlName="treatment">
                            <mat-option [value]="item.key" *ngFor="let item of AssessmentTreatment | keyvalue">{{item.value}}</mat-option>
                        </mat-select>
                        <mat-hint align="end">Select assessment treatment </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Assessment Lifecycle Status:</mat-label>
                        <mat-select formControlName="lifecycle_status">
                            <mat-option [value]="item.key" *ngFor="let item of AssessmentLifecycleStatus | keyvalue">{{item.value}}</mat-option>
                        </mat-select>
                        <mat-hint align="end">Select assessment lifecycle status </mat-hint>
                    </mat-form-field>
                </div>
                <mat-divider class="my-3"></mat-divider>
                <h2>
                    Risk response:
                </h2>
                <div class="d-flex flex-column">
                    <mat-form-field class="w-100">
                        <mat-label>Risk response lifecycle status:</mat-label>
                        <mat-select formControlName="risk_response_lifecycle_status">
                            <mat-option [value]="item.key" *ngFor="let item of RiskResponseLifecycleStatus | keyvalue">{{item.value}}</mat-option>
                        </mat-select>
                        <mat-hint align="end">Select risk response lifecycle status </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Risk response</mat-label>
                        <textarea matInput formControlName="risk_response" placeholder="Enter risk response"></textarea>
                        <mat-hint align="end">Enter risk response message</mat-hint>

                    </mat-form-field>
                </div>
                <button mat-raised-button class="ms-auto" align="end" color="primary" (click)="updateAssessment(assessment)">Ok</button>
            </form>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>
</div>

<ng-template #loading>
    <div>
        <p class="spinner-border spinner-border-sm text-primary mb-2 mr-auto ml-auto" role="status">
        </p>
    </div>
</ng-template>