@use '@angular/material' as mat;
@import 'scss/styles';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer {
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-mdc-table {
  overflow: auto;
  flex: 1;
}