// Material 
$palette-mat-red-1:  mat-palette($mat-red, 100);
$palette-mat-red-2:  mat-palette($mat-red, 200);
$palette-mat-red-3:  mat-palette($mat-red, 300);
$palette-mat-red-4:  mat-palette($mat-red, 400);
$palette-mat-red-5:  mat-palette($mat-red, 500);
$palette-mat-red-6:  mat-palette($mat-red, 600);
$palette-mat-red-7:  mat-palette($mat-red, 700);
$palette-mat-red-8:  mat-palette($mat-red, 800);
$palette-mat-red-9:  mat-palette($mat-red, 900);
$palette-mat-red-A1:  mat-palette($mat-red, A100);
$palette-mat-red-A2:  mat-palette($mat-red, A200);
$palette-mat-red-A3:  mat-palette($mat-red, A300);

$palette-mat-pink-1:  mat-palette($mat-pink, 100);
$palette-mat-pink-2:  mat-palette($mat-pink, 200);
$palette-mat-pink-3:  mat-palette($mat-pink, 300);
$palette-mat-pink-4:  mat-palette($mat-pink, 400);
$palette-mat-pink-5:  mat-palette($mat-pink, 500);
$palette-mat-pink-6:  mat-palette($mat-pink, 600);
$palette-mat-pink-7:  mat-palette($mat-pink, 700);
$palette-mat-pink-8:  mat-palette($mat-pink, 800);
$palette-mat-pink-9:  mat-palette($mat-pink, 900);
$palette-mat-pink-A1:  mat-palette($mat-pink, A100); 
$palette-mat-pink-A2:  mat-palette($mat-pink, A200);
$palette-mat-pink-A3:  mat-palette($mat-pink, A300);

$palette-mat-purple-1:  mat-palette($mat-purple, 100);
$palette-mat-purple-2:  mat-palette($mat-purple, 200);
$palette-mat-purple-3:  mat-palette($mat-purple, 300);
$palette-mat-purple-4:  mat-palette($mat-purple, 400);
$palette-mat-purple-5:  mat-palette($mat-purple, 500);
$palette-mat-purple-7:  mat-palette($mat-purple, 700);
$palette-mat-purple-6:  mat-palette($mat-purple, 600);
$palette-mat-purple-8:  mat-palette($mat-purple, 800);
$palette-mat-purple-9:  mat-palette($mat-purple, 900);
$palette-mat-purple-A1:  mat-palette($mat-purple, A100);
$palette-mat-purple-A2:  mat-palette($mat-purple, A200);
$palette-mat-purple-A3:  mat-palette($mat-purple, A300);

$palette-mat-deep-purple-1:  mat-palette($mat-deep-purple, 100);
$palette-mat-deep-purple-2:  mat-palette($mat-deep-purple, 200);
$palette-mat-deep-purple-3:  mat-palette($mat-deep-purple, 300);
$palette-mat-deep-purple-4:  mat-palette($mat-deep-purple, 400);
$palette-mat-deep-purple-5:  mat-palette($mat-deep-purple, 500);
$palette-mat-deep-purple-6:  mat-palette($mat-deep-purple, 600);
$palette-mat-deep-purple-7:  mat-palette($mat-deep-purple, 700);
$palette-mat-deep-purple-8:  mat-palette($mat-deep-purple, 800);
$palette-mat-deep-purple-9:  mat-palette($mat-deep-purple, 900);
$palette-mat-deep-purple-A1:  mat-palette($mat-deep-purple, A100);
$palette-mat-deep-purple-A2:  mat-palette($mat-deep-purple, A200);
$palette-mat-deep-purple-A3:  mat-palette($mat-deep-purple, A300);

$palette-mat-indigo-1:  mat-palette($mat-indigo, 100);
$palette-mat-indigo-2:  mat-palette($mat-indigo, 200);
$palette-mat-indigo-3:  mat-palette($mat-indigo, 300);
$palette-mat-indigo-4:  mat-palette($mat-indigo, 400);
$palette-mat-indigo-5:  mat-palette($mat-indigo, 500);
$palette-mat-indigo-6:  mat-palette($mat-indigo, 600);
$palette-mat-indigo-7:  mat-palette($mat-indigo, 700);
$palette-mat-indigo-8:  mat-palette($mat-indigo, 800);
$palette-mat-indigo-9:  mat-palette($mat-indigo, 900);
$palette-mat-indigo-A1:  mat-palette($mat-indigo, A100);
$palette-mat-indigo-A2:  mat-palette($mat-indigo, A200);
$palette-mat-indigo-A3:  mat-palette($mat-indigo, A300);

$palette-mat-blue-1:  mat-palette($mat-blue, 100);
$palette-mat-blue-2:  mat-palette($mat-blue, 200);
$palette-mat-blue-3:  mat-palette($mat-blue, 300);
$palette-mat-blue-4:  mat-palette($mat-blue, 400);
$palette-mat-blue-5:  mat-palette($mat-blue, 500);
$palette-mat-blue-6:  mat-palette($mat-blue, 600);
$palette-mat-blue-7:  mat-palette($mat-blue, 700);
$palette-mat-blue-8:  mat-palette($mat-blue, 800);
$palette-mat-blue-9:  mat-palette($mat-blue, 900);
$palette-mat-blue-A1:  mat-palette($mat-blue, A100);
$palette-mat-blue-A2:  mat-palette($mat-blue, A200);
$palette-mat-blue-A3:  mat-palette($mat-blue, A300);

$palette-mat-light-blue-1:  mat-palette($mat-light-blue, 100);
$palette-mat-light-blue-2:  mat-palette($mat-light-blue, 200);
$palette-mat-light-blue-3:  mat-palette($mat-light-blue, 300);
$palette-mat-light-blue-4:  mat-palette($mat-light-blue, 400);
$palette-mat-light-blue-5:  mat-palette($mat-light-blue, 500);
$palette-mat-light-blue-6:  mat-palette($mat-light-blue, 600);
$palette-mat-light-blue-7:  mat-palette($mat-light-blue, 700);
$palette-mat-light-blue-8:  mat-palette($mat-light-blue, 800);
$palette-mat-light-blue-9:  mat-palette($mat-light-blue, 900);
$palette-mat-light-blue-A1:  mat-palette($mat-light-blue, A100);
$palette-mat-light-blue-A2:  mat-palette($mat-light-blue, A200);
$palette-mat-light-blue-A3:  mat-palette($mat-light-blue, A300);

$palette-mat-cyan-1:  mat-palette($mat-cyan, 100);
$palette-mat-cyan-2:  mat-palette($mat-cyan, 200);
$palette-mat-cyan-3:  mat-palette($mat-cyan, 300);
$palette-mat-cyan-4:  mat-palette($mat-cyan, 400);
$palette-mat-cyan-5:  mat-palette($mat-cyan, 500);
$palette-mat-cyan-6:  mat-palette($mat-cyan, 600);
$palette-mat-cyan-7:  mat-palette($mat-cyan, 700);
$palette-mat-cyan-8:  mat-palette($mat-cyan, 800);
$palette-mat-cyan-9:  mat-palette($mat-cyan, 900);
$palette-mat-cyan-A1:  mat-palette($mat-cyan, A100);
$palette-mat-cyan-A2:  mat-palette($mat-cyan, A200);
$palette-mat-cyan-A3:  mat-palette($mat-cyan, A300);

$palette-mat-teal-1:  mat-palette($mat-teal, 100);
$palette-mat-teal-2:  mat-palette($mat-teal, 200);
$palette-mat-teal-3:  mat-palette($mat-teal, 300);
$palette-mat-teal-4:  mat-palette($mat-teal, 400);
$palette-mat-teal-5:  mat-palette($mat-teal, 500);
$palette-mat-teal-6:  mat-palette($mat-teal, 600);
$palette-mat-teal-7:  mat-palette($mat-teal, 700);
$palette-mat-teal-8:  mat-palette($mat-teal, 800);
$palette-mat-teal-9:  mat-palette($mat-teal, 900);
$palette-mat-teal-A1:  mat-palette($mat-teal, A100);
$palette-mat-teal-A2:  mat-palette($mat-teal, A200);
$palette-mat-teal-A3:  mat-palette($mat-teal, A300);

$palette-mat-green-1:  mat-palette($mat-green, 100);
$palette-mat-green-2:  mat-palette($mat-green, 200);
$palette-mat-green-3:  mat-palette($mat-green, 300);
$palette-mat-green-4:  mat-palette($mat-green, 400);
$palette-mat-green-5:  mat-palette($mat-green, 500);
$palette-mat-green-6:  mat-palette($mat-green, 600);
$palette-mat-green-7:  mat-palette($mat-green, 700);
$palette-mat-green-8:  mat-palette($mat-green, 800);
$palette-mat-green-9:  mat-palette($mat-green, 900);
$palette-mat-green-A1:  mat-palette($mat-green, A100);
$palette-mat-green-A2:  mat-palette($mat-green, A200);
$palette-mat-green-A3:  mat-palette($mat-green, A300);

$palette-mat-light-green-1:  mat-palette($mat-light-green, 100);
$palette-mat-light-green-2:  mat-palette($mat-light-green, 200);
$palette-mat-light-green-3:  mat-palette($mat-light-green, 300);
$palette-mat-light-green-4:  mat-palette($mat-light-green, 400);
$palette-mat-light-green-5:  mat-palette($mat-light-green, 500);
$palette-mat-light-green-6:  mat-palette($mat-light-green, 600);
$palette-mat-light-green-7:  mat-palette($mat-light-green, 700);
$palette-mat-light-green-8:  mat-palette($mat-light-green, 800);
$palette-mat-light-green-9:  mat-palette($mat-light-green, 900);
$palette-mat-light-green-A1:  mat-palette($mat-light-green, A100);
$palette-mat-light-green-A2:  mat-palette($mat-light-green, A200);
$palette-mat-light-green-A3:  mat-palette($mat-light-green, A300);

$palette-mat-lime-1:  mat-palette($mat-lime, 100);
$palette-mat-lime-2:  mat-palette($mat-lime, 200);
$palette-mat-lime-3:  mat-palette($mat-lime, 300);
$palette-mat-lime-4:  mat-palette($mat-lime, 400);
$palette-mat-lime-5:  mat-palette($mat-lime, 500);
$palette-mat-lime-6:  mat-palette($mat-lime, 600);
$palette-mat-lime-7:  mat-palette($mat-lime, 700);
$palette-mat-lime-8:  mat-palette($mat-lime, 800);
$palette-mat-lime-9:  mat-palette($mat-lime, 900);
$palette-mat-lime-A1:  mat-palette($mat-lime, A100);
$palette-mat-lime-A2:  mat-palette($mat-lime, A200);
$palette-mat-lime-A3:  mat-palette($mat-lime, A300);

$palette-mat-yellow-1:  mat-palette($mat-yellow, 100);
$palette-mat-yellow-2:  mat-palette($mat-yellow, 200);
$palette-mat-yellow-3:  mat-palette($mat-yellow, 300);
$palette-mat-yellow-4:  mat-palette($mat-yellow, 400);
$palette-mat-yellow-5:  mat-palette($mat-yellow, 500);
$palette-mat-yellow-6:  mat-palette($mat-yellow, 600);
$palette-mat-yellow-7:  mat-palette($mat-yellow, 700);
$palette-mat-yellow-8:  mat-palette($mat-yellow, 800);
$palette-mat-yellow-9:  mat-palette($mat-yellow, 900);
$palette-mat-yellow-A1:  mat-palette($mat-yellow, A100);
$palette-mat-yellow-A2:  mat-palette($mat-yellow, A200);
$palette-mat-yellow-A3:  mat-palette($mat-yellow, A300);

$palette-mat-amber-1:  mat-palette($mat-amber, 100);
$palette-mat-amber-2:  mat-palette($mat-amber, 200);
$palette-mat-amber-3:  mat-palette($mat-amber, 300);
$palette-mat-amber-4:  mat-palette($mat-amber, 400);
$palette-mat-amber-5:  mat-palette($mat-amber, 500);
$palette-mat-amber-6:  mat-palette($mat-amber, 600);
$palette-mat-amber-7:  mat-palette($mat-amber, 700);
$palette-mat-amber-8:  mat-palette($mat-amber, 800);
$palette-mat-amber-9:  mat-palette($mat-amber, 900);
$palette-mat-amber-A1:  mat-palette($mat-amber, A100);
$palette-mat-amber-A2:  mat-palette($mat-amber, A200);
$palette-mat-amber-A3:  mat-palette($mat-amber, A300);

$palette-mat-orange-1:  mat-palette($mat-orange, 100);
$palette-mat-orange-2:  mat-palette($mat-orange, 200);
$palette-mat-orange-3:  mat-palette($mat-orange, 300);
$palette-mat-orange-4:  mat-palette($mat-orange, 400);
$palette-mat-orange-5:  mat-palette($mat-orange, 500);
$palette-mat-orange-6:  mat-palette($mat-orange, 600);
$palette-mat-orange-7:  mat-palette($mat-orange, 700);
$palette-mat-orange-8:  mat-palette($mat-orange, 800);
$palette-mat-orange-9:  mat-palette($mat-orange, 900);
$palette-mat-orange-A1:  mat-palette($mat-orange, A100);
$palette-mat-orange-A2:  mat-palette($mat-orange, A200);
$palette-mat-orange-A3:  mat-palette($mat-orange, A300);

$palette-mat-deep-orange-1:  mat-palette($mat-deep-orange, 100);
$palette-mat-deep-orange-2:  mat-palette($mat-deep-orange, 200);
$palette-mat-deep-orange-3:  mat-palette($mat-deep-orange, 300);
$palette-mat-deep-orange-4:  mat-palette($mat-deep-orange, 400);
$palette-mat-deep-orange-5:  mat-palette($mat-deep-orange, 500);
$palette-mat-deep-orange-6:  mat-palette($mat-deep-orange, 600);
$palette-mat-deep-orange-7:  mat-palette($mat-deep-orange, 700);
$palette-mat-deep-orange-8:  mat-palette($mat-deep-orange, 800);
$palette-mat-deep-orange-9:  mat-palette($mat-deep-orange, 900);
$palette-mat-deep-orange-A1:  mat-palette($mat-deep-orange, A100);
$palette-mat-deep-orange-A2:  mat-palette($mat-deep-orange, A200);
$palette-mat-deep-orange-A3:  mat-palette($mat-deep-orange, A300);

$palette-mat-brown-1:  mat-palette($mat-brown, 100);
$palette-mat-brown-2:  mat-palette($mat-brown, 200);
$palette-mat-brown-3:  mat-palette($mat-brown, 300);
$palette-mat-brown-4:  mat-palette($mat-brown, 400);
$palette-mat-brown-5:  mat-palette($mat-brown, 500);
$palette-mat-brown-6:  mat-palette($mat-brown, 600);
$palette-mat-brown-7:  mat-palette($mat-brown, 700);
$palette-mat-brown-8:  mat-palette($mat-brown, 800);
$palette-mat-brown-9:  mat-palette($mat-brown, 900);
$palette-mat-brown-A1:  mat-palette($mat-brown, A100);
$palette-mat-brown-A2:  mat-palette($mat-brown, A200);
$palette-mat-brown-A3:  mat-palette($mat-brown, A300);

$palette-mat-grey-1:  mat-palette($mat-grey, 100);
$palette-mat-grey-2:  mat-palette($mat-grey, 200);
$palette-mat-grey-3:  mat-palette($mat-grey, 300);
$palette-mat-grey-4:  mat-palette($mat-grey, 400);
$palette-mat-grey-5:  mat-palette($mat-grey, 500);
$palette-mat-grey-6:  mat-palette($mat-grey, 600);
$palette-mat-grey-7:  mat-palette($mat-grey, 700);
$palette-mat-grey-8:  mat-palette($mat-grey, 800);
$palette-mat-grey-9:  mat-palette($mat-grey, 900);
$palette-mat-grey-A1:  mat-palette($mat-grey, A100);
$palette-mat-grey-A2:  mat-palette($mat-grey, A200);
$palette-mat-grey-A3:  mat-palette($mat-grey, A300);

$palette-mat-gray-1:  mat-palette($mat-gray, 100);
$palette-mat-gray-2:  mat-palette($mat-gray, 200);
$palette-mat-gray-3:  mat-palette($mat-gray, 300);
$palette-mat-gray-4:  mat-palette($mat-gray, 400);
$palette-mat-gray-5:  mat-palette($mat-gray, 500);
$palette-mat-gray-6:  mat-palette($mat-gray, 600);
$palette-mat-gray-7:  mat-palette($mat-gray, 700);
$palette-mat-gray-8:  mat-palette($mat-gray, 800);
$palette-mat-gray-9:  mat-palette($mat-gray, 900);
$palette-mat-gray-A1:  mat-palette($mat-gray, A100);
$palette-mat-gray-A2:  mat-palette($mat-gray, A200);
$palette-mat-gray-A3:  mat-palette($mat-gray, A300);

$palette-mat-blue-grey-1:  mat-palette($mat-blue-grey, 100);
$palette-mat-blue-grey-2:  mat-palette($mat-blue-grey, 200);
$palette-mat-blue-grey-3:  mat-palette($mat-blue-grey, 300);
$palette-mat-blue-grey-4:  mat-palette($mat-blue-grey, 400);
$palette-mat-blue-grey-5:  mat-palette($mat-blue-grey, 500);
$palette-mat-blue-grey-6:  mat-palette($mat-blue-grey, 600);
$palette-mat-blue-grey-7:  mat-palette($mat-blue-grey, 700);
$palette-mat-blue-grey-8:  mat-palette($mat-blue-grey, 800);
$palette-mat-blue-grey-9:  mat-palette($mat-blue-grey, 900);
$palette-mat-blue-grey-A1:  mat-palette($mat-blue-grey, A100);
$palette-mat-blue-grey-A2:  mat-palette($mat-blue-grey, A200);
$palette-mat-blue-grey-A3:  mat-palette($mat-blue-grey, A300); 


$mat-toolbar-minimum-height: 44px !default;
$mat-toolbar-height-desktop: 44px !default;
$mat-toolbar-maximum-height-desktop: $mat-toolbar-height-desktop !default;
$mat-toolbar-minimum-height-desktop: $mat-toolbar-minimum-height !default;
$mat-toolbar-height-mobile: 44px !default;
$mat-toolbar-maximum-height-mobile: $mat-toolbar-height-mobile !default;
$mat-toolbar-minimum-height-mobile: $mat-toolbar-minimum-height !default; 


